<div class="big-card-container">
  <div class="big-card-img">
      <img src="https://wallpapers.com/images/featured/iron-man-ouqxo5w2b59h0042.jpg"
       alt="image"
       height="200px"
       >
  </div>
  <div class="big-card-date">
    <span>13 de Dez de 2023</span>
  </div>
  <div class="big-card-title">
      <h1><a href="">Novo artigo para Angular</a></h1>
  </div>
  <div class="big-card-description">
      <p><a href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eos est, ut commodi minus excepturi laboriosam eum explicabo! Laborum consectetur adipisci laudantium laboriosam aliquid assumenda illum nisi quos? Qui, provident?</a></p>
  </div>
</div>
