<div class="small-card-container">
  <div class="small-card-container-content">
    <div class="small-card-img">
      <img src="https://t.ctcdn.com.br/9KZ0WLOfJFYa4ZYBsjQ82Gpa6dM=/640x360/smart/i821523.png"
       alt="image"
       >
    </div>
    <div class="small-card-date">
      <span>13 de Dez de 2023</span>
    </div>
    <div class="small-card-title">
        <h1><a href="">Novo artigo para Angular</a></h1>
    </div>
  </div>
  <div class="small-card-divisor">
    <hr/>
  </div>
</div>


