
<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-title-header></app-title-header>
<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      photoCard="https://wallpapers.com/images/featured/iron-man-ouqxo5w2b59h0042.jpg"
      cardTitle="Estréia de Homem de ferro - O verdadeiro vingador."
      cardDescription="O novo filme do Homem de Ferro está previsto para estrear hoje nos cinemas e em duas semanas estará disponivel nas plataformas de streaming."
    >
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card cardTitle="Marvel Studios começa um novo arco." photoCard="https://t.ctcdn.com.br/ATMXGUPvK_U3dSgacCpelFk_3EM=/640x360/smart/i525034.jpeg"></app-small-card>
    <app-small-card cardTitle="O legado de Stan Lee." photoCard="https://conteudo.imguol.com.br/c/entretenimento/2d/2018/11/12/stan-lee-1542063577369_v2_615x300.jpg"></app-small-card>
    <app-small-card cardTitle="O que esperar dos próximos arcos da Marvel." photoCard="https://t.ctcdn.com.br/9KZ0WLOfJFYa4ZYBsjQ82Gpa6dM=/640x360/smart/i821523.png"></app-small-card>
  </div>
</div>
